<nav>

  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a>


  @if (isBrowserUnlocked()) {

    <a
      routerLink="/dark-web-login"
      routerLinkActive="active"
    >
      Amherst PD Investigation Portal
    </a>

  } @else {

    <span class="locked-link">
      Amherst PD Investigation Portal
      <small>LOCKED</small>
    </span>

  }


  <a
    routerLink="/case"
    routerLinkActive="active"
  >
    Case Overview
  </a>


  @if (isWitnessesUnlocked()) {

    <a
      routerLink="/witnesses"
      routerLinkActive="active"
    >
      Witnesses
    </a>

  } @else {

    <span class="locked-link">
      Witnesses
      <small>LOCKED</small>
    </span>

  }


  <span class="locked-link">
    Evidence
    <small>LOCKED</small>
  </span>


  <span class="locked-link">
    Notebook
    <small>LOCKED</small>
  </span>


  <span class="locked-link">
    Archive
    <small>LOCKED</small>
  </span>

</nav>