<section class="dark-web-login">

  <div class="login-panel">

    <header>

      <div class="system-name">
        AMHERST PD // INVESTIGATION PORTAL
      </div>

      <div class="classification">
        RESTRICTED
      </div>

    </header>


    <main>

      <div class="status-indicator">

        <span
          class="status-light"
          [class.connected]="connected"
        ></span>

      </div>


      <h1>
        {{ status }}
      </h1>


      @if (!connecting) {

        <p class="description">

          AUTHORIZED INVESTIGATIVE ACCESS ONLY.

          <br />

          This system is restricted to authorized
          Amherst Police Department personnel.

          <br />

          All access attempts are logged and monitored.

        </p>


        <div class="login-form">

          <label>
            INVESTIGATOR ID
          </label>

          <input
            type="text"
            [(ngModel)]="username"
            autocomplete="off"
          />


          <label>
            PASSWORD
          </label>

          <input
            type="password"
            [(ngModel)]="password"
          />


          @if (error) {

            <div class="error">
              {{ error }}
            </div>

          }


          <button
            (click)="connect()"
          >
            ACCESS INVESTIGATION PORTAL
          </button>

        </div>

      }


      @if (connecting) {

        <div class="connection-status">

          <div>
            VERIFYING INVESTIGATOR CREDENTIALS...
          </div>

          <div>
            ESTABLISHING ENCRYPTED CONNECTION...
          </div>

          <div>
            ACTIVITY MONITORING: ENABLED
          </div>

        </div>

      }


      @if (connected) {

        <div class="connected-message">

          <strong>
            CONNECTION ESTABLISHED
          </strong>

          <span>
            REDIRECTING TO INVESTIGATION PORTAL...
          </span>

        </div>

      }

    </main>


    <footer>

      AMHERST POLICE DEPARTMENT

      <span>
        ALL ACCESS ATTEMPTS LOGGED
      </span>

    </footer>

  </div>

</section>