<section class="browser">

  <header class="browser-bar">

    <button (click)="goBack()">
      ←
    </button>

    <button>
      →
    </button>

    <button
      (click)="navigate(currentPage.path)"
    >
      ⟳
    </button>

    <div class="address-bar">
      🔒 {{ currentPage.domain }}{{ currentPage.path }}
    </div>

    <button>
      ☆
    </button>

  </header>


  <main class="website">

    <header class="site-header">

      <h1>
        {{ currentPage.title }}
      </h1>

      <p>
        Hollow Creek Community Board
      </p>

    </header>


    <article class="page-content">

      <p>
        {{ currentPage.content }}
      </p>

    </article>


    @if (currentPage.links?.length) {

      <section class="links">

        <h3>
          Related
        </h3>

        @for (link of currentPage.links; track link.path) {

          <button
            class="site-link"
            (click)="navigate(link.path)"
          >
            {{ link.label }}
          </button>

        }

      </section>

    }

  </main>

</section>